@media (min-width:769px) {
.caja{
    
    font-size: 24px;
}
body{
    background-color: lightblue;
}
}

@media (max-width:768px) {
.caja{
    
    font-size: 18px;
}
body{
    background-color: lightgreen;
}

}