.contenido{
    display:flex;
}

main{
    background-color: lightblue;
    padding: 20px;
}
.lateral{
    background-color: lightgreen;
    padding: 20px
}
footer{
    background-color: lightgoldenrodyellow;
    padding: 10px;
}
nav{
    background-color: lightseagreen;
    padding: 5px;
}
header{
    background-color: lightcoral;
    padding: 10px;
}
@media (min-width:768px) {

.contenido{
    flex-direction:row;
}
main{
flex-grow: 1;
}
.lateral{
flex-grow: 1;
}
}

@media (max-width: 767px) {
.contenido{
    flex-direction: column;
}
}