body{
    background-color: lightgoldenrodyellow;
}

@media (min-width:1025px){
h1{
    font-size: 36px;
}
p{
    font-size: 18px;
}
}

@media(min-width:600px) and (max-width:1024px){
h1{
    font-size: 28px;
}
p{
    font-size: 16px;
}
}

@media(max-width:599px){
h1{
    font-size: 22px;
}
p{
    font-size: 14px;
}
}