.columna{
    background-color:lightblue;
    border: 2px solid black;
    padding: 10px;
    display: block;
    
 }

.contenedor{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
}

@media (min-width: 1025px){
.columna{
    width: 33.33%;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.columna{
    width: 50%;
}
}

@media (max-width: 767px){
.columna{
    width: 100%;
}

}