@font-face {
  font-family: 'FuenteSpotify';
  src: url('../fonts/spotify_mix_ui_regular.otf');
}

hr{
    width: 100%;
}
body{
    background-color: black;
    font-family: 'FuenteSpotify' !important;
    color: white;
}
header{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-between;
}
#inicio{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
}
#fin{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}
.iconos{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.Spotify{
    background-color: white;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
img{
    width: 100%;
    height: 100%;
}


span{
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columna{
    display: flex;
    flex-direction: column;
    
}
.canciones{
    display: flex;
    background-color: #121212;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}

.barra_lateral{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #121212;
    padding: 1rem;
    border-radius: 1rem;
}
.contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.botonCrear{
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    border-radius: 1rem;
    width: 6rem;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
}
.rec_gris{
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 1rem;
}
.boton{
    background-color: white;
    color: black;
    border-radius: 1rem;
    padding: 1px;  
}
