@font-face {
    font-family: 'LetraSpotify';
    src: url('../fonts/spotify_mix_ui_regular.woff2')
}

body {
    display: grid;
    gap: 0.6rem;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'LetraSpotify';
    color: white;
    background-color: black;
    padding: 0.5rem 0.6rem;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 0.87fr 3fr;
    gap: 0.5rem;
    min-height: 0;
}

.hr hr {
    border: none;
    border-top: 0.03rem solid #292929;
}

.iconoTexto:hover,
.instalarRegistrar:hover,
.instalar:hover {
    color: rgba(255, 255, 255, 0.849);
    transform: scale(1.05);
    cursor: pointer;
}

.vertical {
    height: 1.5rem;
    width: 0.06rem;
    background-color: #727272;
    border: none;
    margin: 0;
}

.casa .material-symbols-outlined {
    font-variation-settings: 'FILL' 0;
    font-size: 2rem;
}

.casa .material-symbols-outlined:focus{
    font-variation-settings: 'FILL' 1;
    color: white;
}

.instalar .material-symbols-outlined {
    font-size: 1.3rem;
}

.archivoPalo .material-symbols-outlined,
.iconolupa .material-symbols-outlined {
    font-size: 2rem;
}

.iconolupa {
    position: relative;
}

.archivoPalo .material-symbols-outlined:hover,
.iconolupa .material-symbols-outlined:hover {
    transform: scale(1.05);
}

.archivoPalo .material-symbols-outlined:hover,
.iconolupa .material-symbols-outlined:hover,
.iconoExplorar:hover .material-symbols-outlined {
    color: rgba(255, 255, 255, 0.89);
}

.fondoIconoCasa {
    background-color: #292929;
    border-radius: 50%;
    width: 3.1rem;
    height: 3.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoIconoCasa:hover {
    background-color: #353434;
    transform: scale(1.05);
}

.fondoIconoCasa::after {
    content: "Inicio";
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.fondoIconoCasa::after,
.iconolupa::after,
.iconoExplorar::after {
    position: absolute;
    background-color: #282828;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    white-space: nowrap;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.iconoExplorar {
    position: relative;
}

.iconoExplorar::after {
    content: "Explorar";
    top: 161%;
    left: 50%;
    transform: translateX(-50%);
}

.iconoExplorar:hover::after,
.fondoIconoCasa:hover::after,
.iconolupa:hover::after,
.lupa:hover::after {
    opacity: 1;
    visibility: visible;
}

.iconoExplorar:hover .material-symbols-outlined {
    color: rgba(255, 255, 255, 0.89);
    transform: scale(1.05);
}

.material-symbols-outlined {
    font-size: 1rem;
    color: #b3b3b3;
    vertical-align: middle;
}

.lupaInput {
    display: flex;
    gap: 0.5rem;
}

.archivoPalo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input {
    background-color: transparent;
    border: 0px;
    font-family: 'LetraSpotify';
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.lupa {
    width: 30rem;
    display: flex;
    background-color: #1f1f1f;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    justify-content: space-between;
    border: 0.2rem solid transparent;
    cursor: pointer;
}

.lupa:hover {
    background-color: #313131;
}

.lupa:hover .atajos-teclado {
    display: flex;
}

.lupa:focus-within {
    border-color: white;
}

.iconolupa::after {
    content: "Buscar";
    top: 160%;
    left: 50%;
    transform: translateX(-50%);
}

.atajos-teclado {
    display: none;
    gap: 0.3rem;
}

.tecla {
    background-color: #2a2a2a;
    color: #b3b3b3;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    border: 0.05rem solid #646464;
}

header {
    display: flex;
    padding-left: 0.5rem;
    gap: 0.7rem;
    z-index: 100;
}

.instalar,
.instalarRegistrar {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.Spotify {
    width: 2.8rem;
    padding-left: 0.8rem;
}

#inicio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fin {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.iconos {
    display: flex;
    gap: 2rem;
    white-space: nowrap;
    color: #a7a7a7;
    font-weight: bold;
}

.iconosPremium {
    display: flex;
    gap: 0.5rem;
    white-space: nowrap;
    color: #a7a7a7;
    font-weight: bold;
    font-size: 1.1rem;
}

.iconosCasa {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    white-space: nowrap;
}

img {
    width: 100%;
    height: auto;
    color: white;
}

span {
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #af2996, #509af4);
    border-radius: 0.5rem;
    padding: 0.5rem 1.8rem 0.5rem 1rem;
    cursor: pointer;
}

footer .texto h4{
    font-size: 0.85rem;
}


footer .texto h4,
footer .texto p {
    margin: 0;
}

footer .texto p {
    padding-bottom: 0.2rem;
}

footer .boton {
    text-align: center;
    width: 11rem;
    height: 2rem;
    padding: 0.7rem 1.2rem;
    white-space: nowrap;
    cursor: pointer;
    align-content: center;
}

footer .boton p {
    margin: 0;
    font-size: 1.1rem;
}

.rrss {
    display: flex;
    gap: 1rem;
}

.rrss .fondoIcono img {
    width: 75%;
    filter: invert(1);
}

.fondoIcono {
    background-color: #292929;
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    padding: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoIcono:hover {
    background-color: #727272;
}

.canciones,
.barra_lateral {
    background-color: #121212;
    border-radius: 0.5rem;
    min-height: 0;
}

.canciones {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    background-image: linear-gradient(to bottom, #171417, #121212);
}

.canciones img {
    width: 10.2rem;
    height: auto;
}

.brilloGris {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    gap: 0.5rem;
    position: relative;
}

.brilloGris:hover {
    transition: background-color 0.3s ease;
    background-color: #1f1f1f;
    border-radius: 0.5rem;
    height: fit-content;
}

.brilloGris:hover .flechaVerde {
    visibility: visible;
}

.textDecoration:hover,
.textoColumna:hover {
    text-decoration: underline;
}

.brilloGris h3 {
    margin: 0;
    font-weight: lighter;
    font-size: 1.1rem;
}

.brilloGris p {
    color: #9e9e9e;
    margin: 0;
}

.brilloGris img:not(.flechaVerde) {
    box-shadow: -0.5rem 1rem 0.5rem rgb(16, 16, 16);
}

.brilloGris img,
.flechaVerde {
    width: 12rem;
    height: 12rem;
}

.E {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.explicit {
    background-color: #b3b3b3;
    color: #181818;
    font-weight: bold;
    padding: 0.05rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
}

.titulo {
    padding-top: 3rem;
}

.titulo,
.tituloTendencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 2.5rem;
    padding-bottom: 0.5rem;
}

.tituloTendencia {
    padding-top: 0.8rem;
}

.titulo h2,
.tituloTendencia h2 {
    margin: 0;
    font-size: 1.8rem;
}

.titulo p,
.tituloTendencia p {
    font-weight: bold;
    color: #a7a7a7;
    margin: 0;
}

.cuadrado,
.redondo {
    display: flex;
    cursor: pointer;
    overflow-x: auto;
}

.cuadrado::-webkit-scrollbar,
.redondo::-webkit-scrollbar {
    background-color: transparent;
    height: 0%;
}

.cuadrado::-webkit-scrollbar-thumb,
.redondo::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.cuadradoExtraGap {
    padding-bottom: 6rem;
}

.cuadrado img {
    border-radius: 0.5rem;
}

.redondo img:not(.flechaVerde) {
    border-radius: 50%;
}

.flechaVerde {
    position: absolute;
    visibility: hidden;
}

.barra_lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra_superior {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.barra_inferior {
    display: flex;
    flex-direction: column;
    padding-right: 0.8rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

.cookieLegal {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.avisoLegal {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    padding-right: 2rem;
}

.avisoLegal p {
    margin: 0;
    color: #b3b3b3;
    font-size: 0.7rem;
    cursor: pointer;
}

.cookies {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
}

.cookies p {
    margin: 0;
    color: white;
    font-size: 0.75rem;
}

.cookies:hover {
    border-color: white;
    text-decoration: underline;
}

.cookies:hover p {
    color: white;
}

.espanolEspana {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 1rem;
    border: 0.05rem solid #4f4f4f;
    border-radius: 2rem;
    width: fit-content;
    cursor: pointer;
}

.espanolEspana p {
    margin: 0;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    white-space: nowrap;
}

.espanolEspana:hover {
    border: 0.05rem solid rgb(243, 243, 243);
    transform: scale(1.05);
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem 0 1.5rem;
}

.contenido h4 {
    font-size: 1rem;
}

.botonCrear {
    display: flex;
    background-color: #1f1f1f;
    border-radius: 2.8rem;
    height: 2rem;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    padding: 0.2rem 1rem;
}

.botonCrear .material-symbols-outlined{
    font-size: 1.25rem;
}

.botonCrear p {
    font-size: 0.85rem;
}

.botonCrear::after {
    content: "Crea una lista, carpeta o Jam";
    position: absolute;
    bottom: 115%;
    left: 20%;
    width: max-content;
    transform: translateX(-35%);
    font-weight: normal;
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
    z-index: 100;
    background-color: #292929;
    visibility: hidden;
    transition: opacity 0.1s ease, visibility 0.1s ease;
}

.botonCrear:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease 0.2s, visibility 0.2s ease 0.3s;
}

.botonCrear:hover {
    background-color: #292929;
}

.contenedorLista {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 0.5rem;
}

.rec_gris {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #1f1f1f;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
}

.letras {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.rec_gris .boton p{
    font-size: 0.85rem;
}
.rec_gris p,
.rec_gris h3 {
    margin: 0;
}

.rec_gris p{
    font-size: 0.9rem;
}

.rec_gris h3 {
    font-size: 0.95rem;
}

.boton {
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.boton:hover,
.botonIniciarSesion:hover {
    transform: scale(1.05);
}

.botonIniciarSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 0.8rem 1rem;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    width: 9rem;
    height: 1.7rem;
}

.botonIniciarSesion p {
    font-size: 1.1rem;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-top: 3.7rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
    white-space: nowrap;
}

.textoColumna {
    cursor: pointer;
}

.textoColumna:hover {
    color: #ffffff;
}

.distribucionColumna {
    display: flex;
    gap: 7rem;  
    justify-content: flex-start;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.columna h4 {
    margin: 0;
    font-size: 1rem;
}

.columna p {
    color: #a0a0a0;
    margin: 0;
    font-size: 1rem;
}

.copywrite {
    color: #a3a3a3;
    font-size: 0.95rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.canciones::-webkit-scrollbar {
    width: 0.8rem;
    background-color: transparent;
}

.canciones::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
    height: 15rem;
}

.canciones::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.menu {
    display: none;
}

.copywrite .avisoLegal,
.copywrite .espanolEspana {
    display: none;
}

.textoSpotify {
    display: none;
}

/* móvil */
@media (max-width:600px) {
    .barra_lateral,  footer .boton,  .iconosPremium,
    .iconos,  .iconosCasa, .titulo p,
    .tituloTendencia p{
        display: none;
    }
    .hr hr {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    footer {
        margin: 0.5rem;
        margin-top: 0;
    }
    
    .info {
        flex-direction: column;
        gap: 3rem;
        padding-top: 2rem;
        padding-left: 1rem;
    }
    
    .copywrite {
        padding-bottom: 3.5rem;
        padding-left: 1rem;
        font-size: 0.85rem;
    }
    
    .distribucionColumna {
        flex-direction: column;
        gap: 3rem;
    }
    
    #inicio {
        justify-content: flex-start;
    }
    
    .textDecoration:not(.cuadrado h3):not(.cuadrado p):not(.redondo h3):not(.redondo p) {
        white-space: nowrap;
    }
    
    main {
        grid-template-columns: 1fr;
    }
    
    .redondo img:not(.flechaVerde) {
        border-radius: 0.5rem;
    }
    
    .titulo {
        padding-top: 1.7rem;
    }
    
    .titulo h2,
    .tituloTendencia h2 {
        font-size: 1.5rem;
    }
    
    .copywrite .avisoLegal,
    .copywrite .espanolEspana,  .menu{
        display: flex;
    }
    
    .canciones {
        padding-left: 0.2rem;
        border-radius: 0;
    }
    
    .Spotify {
        width: 2.3rem;
    }
    
    .textoSpotify {
        display: flex;
        font-weight: bold;
        font-size: 1.3rem;
    }
    
    .menu .material-symbols-outlined {
        font-size: 2.5rem;
        color: white;
    }
    
    footer .texto h4 {
        font-size: 0.8rem;
    }
    
    body {
        gap: 0.3rem;
        padding: 0;
    }
    
    .cuadradoExtraGap {
        padding-bottom: 2rem;
    }
    
    .botonIniciarSesion {
        width: fit-content;
        padding: 0.4rem 1rem;
    }
    
    .botonIniciarSesion p {
        font-size: 1rem;
    }
    
    header {
        padding: 0.8rem 0.8rem 0.2rem 0;
    }
    .columna h4 {
        font-size: 1.15rem;
    }
    .columna p{
        font-size: 1.1rem;
    }
    .fondoIcono {
        width: 2.8rem;
        height: 2.8rem;
    }

}

/* Tablet */
@media (min-width:601px) and (max-width:1024px) {
    main {
        grid-template-columns: 1fr 2fr;
    }
    .casa .material-symbols-outlined {
        font-variation-settings: 'FILL' 0;
    }
    .casa .material-symbols-outlined:hover{
    font-variation-settings: 'FILL' 1;
    color: white;
}
    .fondoIconoCasa{
        width: 3.2rem;
        height: 3.2rem;  
    }

    footer {
        box-sizing: border-box;
        height: 5rem;
        padding-right: 0.8rem;
        border-radius: 0;
    }
    
    footer .boton {
        height: fit-content;
        padding: 0.7rem 1.8rem 0.7rem 1.8rem;
    }
    
    footer .boton p {
        font-size: 0.95rem;
    }

    footer .texto h4, 
    footer .texto p, footer .boton{
        width: fit-content;
    }

    footer .texto h4 {
        font-size: 0.8rem;
    }


    footer .texto p{ 
        font-size: 0.9rem;
    }
    
    .texto {
        max-width: 70%;
        box-sizing: border-box;
    }
    
    #inicio {
        justify-content: flex-start;
        gap: 2rem;
    }
    
    .Spotify {
        padding-left: 0.1rem;
    }
    
    .iconosPremium, .archivoPalo,
    input, .vertical,  .botonCrear p, .copywrite .avisoLegal,
    .copywrite .espanolEspana, .textoSpotify, .lupa:hover .atajos-teclado{
        display: none;
    }
    
    .iconos {
        gap: 0.8rem;
    }
    
    .instalar,
    .instalarRegistrar {
        font-size: 0.9rem;
    }
    
    .lupa {
        width: 3.2rem;
        height: 3.2rem;
        padding: 0.07rem;
        border: 0;
        justify-content: center;
        align-items: center;
    }
    .lupaInput, .lupa:hover .atajos-teclado{
        background-color: transparent;
    }
    
    .lupaInput {
        width: auto;
        height: auto;
    }
    
    .contenido h4 {
        white-space: nowrap;
    }
    
    .contenido {
        padding-bottom: 0;
        padding-right: 1rem;
    }
    
    .botonIniciarSesion {
        padding: 0.8rem 0.5rem;
        width: 7rem;
    }
    
    .botonIniciarSesion p {
        font-size: 1rem;
    }
    
    .botonCrear {
        width: 2rem;
    }
    
    .menu {
        display: flex;
    }
    
    .menu .material-symbols-outlined {
        font-size: 2rem;
        color: white;
    }
    
    .brilloGris img {
        width: 10rem;
        height: 10rem;
    }
    .info, .distribucionColumna{
        flex-direction: column;
        gap: 3rem;
    }

    .info{
        padding-top: 2rem;
    }
    
    .rrss {
        justify-content: flex-start;
    }
    
    .textDecoration:not(.cuadrado h3):not(.cuadrado p):not(.redondo h3):not(.redondo p) {
        white-space: nowrap;
    }
    
    .rec_gris p {
        font-size: 0.85rem;
    }
    
    .rec_gris h3 {
        font-size: 0.95rem;
    }
    
    .avisoLegal {
        gap: 0.5rem 1rem;
        padding-right: 1rem;
    }
    
    .avisoLegal p {
        font-size: 0.75rem;
        white-space: nowrap;
    }
    
    .espanolEspana p {
        font-size: 0.8rem;
    }
    
    .barra_inferior {
        gap: 2.5rem;
    }
    
    body {
        overflow: hidden;
    }
    
    .cuadradoExtraGap {
        padding-bottom: 2rem;
    }
    
    .titulo h2,
    .tituloTendencia h2 {
        font-size: 1.25rem;
    }
    
    .titulo p,
    .tituloTendencia p {
        font-size: 0.9rem;
    }
    
    .titulo,
    .tituloTendencia {
        padding-right: 1.5rem;
        gap: 0.5rem;
        padding-left: 0.8rem;
    }
     .columna h4 {
        font-size: 1.15rem;
    }
    .columna p{
        font-size: 1.1rem;
    }
    .canciones{
        padding-top: 1.5rem;
    }
}