
body{
    color: white;
    background-color: black;
}
span{
    color: white;
}
header{
    display: flex;
    flex-direction: row;
}

img{
    width: 100px;
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr;
    gap: 1rem;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #a237a2;
}

.canciones, .barra_lateral{
    background-color: #121212;
}