@font-face {
  font-family: 'LetraSpotify';
  src: url('../fonts/spotify_mix_ui_regular.woff2')
}
body{
    font-family: 'LetraSpotify';
    color: white;
    background-color: black;
}
hr{
    width: 100%;
}
header{
    display: flex;
    flex-direction: row;
}

img{
    width: 5%;
    color: white;
}
span{
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #a237a2;
}
.canciones{
    display: flex;
    background-color: #121212;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}

.barra_lateral{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #121212;
    padding: 1rem;
    border-radius: 1rem;
}
.contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.botonCrear{
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    border-radius: 1rem;
    width: 6rem;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
}
.rec_gris{
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 1rem;
}
.boton{
    background-color: white;
    color: black;
    border-radius: 1rem;
    padding: 1px;  
}

.canciones, .barra_lateral{
    background-color: #121212;
}