body{
    background-color: black;
}
*{
    color: white;
}
header{
    display: flex;
    flex-direction: row;
}

img{
    width: 100px;
    color: white;
}
span{
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columna{
    display: flex;
    flex-direction: column;
    
}
