@font-face {
    font-family: 'LetraSpotify';
    src: url('../fonts/spotify_mix_ui_regular.woff2')
}

body {
    display: grid;
    gap: 0.6rem;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'LetraSpotify';
    color: white;
    background-color: black;
    padding: 0.5rem 0.6rem;
    box-sizing: border-box;
    margin: 0;
}

.hr hr {
    width: 100%;
    background-color: #292929;
    border: none;
    border-top: 1px solid #292929;
}

.instalarRegistrar {
    font-size: 0.9rem;
}
.instalarRegistrar:hover{
    color: rgba(255, 255, 255, 0.849);
    transform: scale(1.05);
}
.iconoTexto:hover{
    color: rgba(255, 255, 255, 0.849);
    transform: scale(1.05);
}
.vertical {
    height: 1.5rem;

}

.lupaInput {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

}

.archivoPalo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
}

input {
    background-color: transparent;
    border: 0px;
    font-family: 'LetraSpotify';
}

.lupa {
    width: 27rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: #1f1f1f;
    gap: 0.5rem;
    padding: 0rem 1rem;
    border-radius: 2rem;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left:0.5rem;
    align-items: center;
    gap: 0.7rem;
}

.instalar {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

.instalar:hover {
    color: rgba(255, 255, 255, 0.849);
    transform: scale(1.05);
}

.Spotify {
    width: 2.6rem;
    height: auto;
}


#inicio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#fin {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.iconos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    white-space: nowrap;
    color: #a7a7a7;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
    color: white;
}

span {
    color: white;

}

main {
    display: grid;
    grid-template-columns: 0.87fr 3fr;
    gap: 0.5rem;
    overflow: visible;
    min-height: 0;
    height: 100%;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #a237a2;
    border-radius: 1rem;
    padding: 0.8rem 1rem;

}

footer .texto h4 {
    margin: 0;
    font-weight: bold;
}

footer .texto p {
    margin: 0;
    font-weight: normal;
}

footer .boton {
    text-align: center;
    width: 10rem;
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 0.05rem 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
}

.rrss {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-end;
}

.rrss .fondoIcono img {
    width: 80%;
    height: auto;
    filter: invert(1);
    display: block;
}

.fondoIcono {
    background-color: #292929;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoIcono:hover {
    background-color: #727272;
}

.canciones,
.barra_lateral {
    background-color: #121212;
    border-radius: 0.5rem;
    min-height: 0
}

.canciones {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem 2rem;


}

.canciones img {
    width: 10.2rem;
    height: auto;
}

.brilloGris {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    gap: 0.5rem;
    width: fit-content;

}

.brilloGris:hover {
    transition: background-color 0.3s ease;
    background-color: #1f1f1f;
    border-radius: 0.5rem;
    height: fit-content;
}

.brilloGris:hover .flechaVerde {
    visibility: visible;

}

.textDecoration:hover {
    text-decoration: underline;
}

.brilloGris h3 {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-size: medium;
}

.brilloGris p {
    color: #9e9e9e;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.titulo p {
    font-weight: bold;
    color: #a7a7a7;
    font-size: small;
}

.cuadrado,
.redondo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    position: relative;
}

.cuadradoExtraGap {

    padding-bottom: 5rem;
}

.cuadrado img {
    border-radius: 0.5rem;
}

.redondo img:not(.flechaVerde) {
    border-radius: 50%;
}

.flechaVerde {
    position: absolute;
    visibility: hidden;
}

.barra_lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra_superior {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.barra_inferior {
    display: flex;
    flex-direction: column;
    padding-right: 0.8rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    align-items: flex-start;
    gap: 2rem;
}

.cookieLegal {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.avisoLegal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    width: 100%;
    padding-right: 0;
    box-sizing: border-box;

}

.avisoLegal p {
    margin: 0;
    padding: 0;
    color: #b3b3b3;
    font-size: 0.75rem;
    cursor: pointer;
}

.cookies {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    width: fit-content;
    cursor: pointer;
}

.cookies p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.75rem;
    font-weight: regular;
}

.cookies:hover {
    border-color: white;
    text-decoration: underline;
}

.cookies:hover p {
    color: white;
}

.espanolEspana {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 1rem;
    background-color: transparent;
    border: 0.05rem solid #4f4f4f;
    border-radius: 2rem;
    width: fit-content;
    cursor: pointer;
}

.espanolEspana p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    white-space: nowrap;
}

.espanolEspana:hover {
    border: 0.05rem solid rgb(243, 243, 243);
    transform: scale(1.05);
}

.contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.botonCrear {
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    border-radius: 2rem;
    width: 6rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.botonCrear p {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.botonCrear::after {
    content: "Crea una lista, carpeta o Jam";
    position: absolute;
    bottom: 115%;
    left: 20%;
    width: max-content;
    transform: translateX(-35%);
    font-weight: normal;
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* Sombra para profundidad */
    z-index: 100;
    /* Asegura que flote por encima de todo */
    background-color: #292929;
    /* Configuraci贸n para la animaci贸n */
    visibility: hidden;
    transition: opacity 0.1s ease, visibility 0.1s ease;
    pointer-events: none;
    /* Evita que el rat贸n choque con el tooltip */
}

/* 3. Haz que aparezca al pasar el mouse (Hover) */
.botonCrear:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease 0.2s, visibility 0.2s ease 0.3s;
}

.botonCrear:hover {
    background-color: #292929;
}

.contenedorLista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.5rem;
}

.rec_gris {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1f1f1f;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.letras {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.rec_gris p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.rec_gris h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.boton {
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    height: min-content;

}


.boton:hover {
    transform: scale(1.05);
}

.botonIniciarSesion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 0.8rem 1rem;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    width: 8rem;
    height: min-content;
}
.botonIniciarSesion p{
    padding: 0;
    margin: 0;
}
.botonIniciarSesion:hover{
    transform: scale(1.05);
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem;
    padding-left: 0;
    padding-right: 0;
}

.textoColumna {
    cursor: pointer;
}

.textoColumna:hover {
    text-decoration: underline;
    color: #ffffff;

}

.columna {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.columna h4 {
    margin: 0;
    padding: 0;
}

.columna p {
    color: #a0a0a0;
    margin: 0;
    padding: 0;
}

.copywrite {
    color: #a3a3a3;
    font-size: 0.9rem;
}

/* Ancho de la barra */
.canciones::-webkit-scrollbar,
.barra_lateral::-webkit-scrollbar {
    width: 0.8rem;
    background: transparent;
}


/* El "dedo" o la parte que se mueve */
.canciones::-webkit-scrollbar-thumb,
.barra_lateral::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    /* Blanco semitransparente */
    border-radius: 2rem;
    /* Bordes redondeados */
    height: 15rem;
}

/* Al pasar el rat贸n por encima */
.canciones::-webkit-scrollbar-thumb:hover,
.barra_lateral::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}