
header {
    background-color: #ff6000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

header div {
    color: white;
    padding: 20px;
}

.titulo {
    background-color: #ffc09b;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    color: black;
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 30px;
}

.titulo img{
    padding-left: 10px;
    width: 50px;
    height: 50px;
}

.titulo h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin: 0;
    font-weight: 100;
}



nav {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

nav div:hover {
    border-bottom: 8px solid white;

}


.iconos {
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}


.portada {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.portada h2 {
    font-size: 48px;
    font-weight: 100;
    color: #666;
    padding: 10px 20px;        
    position: relative;
    display: inline-block;
    height: 70px;
}

.portada h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-top: 5px solid #00bfff;
    border-left: 5px solid #00bfff;
}

.portada h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #00bfff;
    border-right: 5px solid #00bfff;
}

.portada h2 span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: 5px solid #00bfff;
    border-right: 5px solid #00bfff;
}


.portada h2 span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #00bfff;
    border-left: 5px solid #00bfff;
}
.portada h2 b {
    font-weight: 700;
}

.opciones {
    display: flex;
    justify-content: row;
    gap: 15px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.producto {
    background-color: white;
    border: 4px solid #aaaaaa;
    padding: 15px;
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grande {
    width: 50%;
    height: 200px;
}

.carrito {
    width: 10%;
}


.rrss {
    display: flex;
    justify-content: center;
}

.rrss img {
    width: 50px;
    height: 50px;
    padding: 10px;
}


footer {
    background-color: #e9e2dc;
    border-top: 5px solid #c4b5a4;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer div {
    padding: 10px;
}

footer h3 {
    color: #7a6556;
    padding-bottom: 10px;
}

footer p {
    color: #a18e80;
}