#viajes{
    box-sizing: border-box;
    border: 2px solid black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
   
    
h1{
    color:white;
    background-color: #333334;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: end;
}

.noticia{
    background-color: #cccccc;
    color:#767676;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;     
    padding: 10px;
    gap: 10px;

}



img{
    width: 100%;
}