header{
    box-sizing: border-box;
    border: 2px solid black;
    width: 40%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
   
    

h1{
    color:white;
    background-color: #333334;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

nav{
    margin-bottom: 30px;
    background-color: #cccccc;
    color:#767676;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;

}

div{
    box-sizing: border-box;
    padding: 10px;
}

div:hover{
    background-color: #555555;
    color:#9d9d9d;

}