header{
    box-sizing: border-box;
    border: 2px solid black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
   
    
h1{
    color:white;
    background-color: #333334;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #cccccc;
    color:#767676;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 10px;
  
}

nav.primera_fila {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    
}

nav.segunda_fila {
    display: flex;
    flex-wrap: wrap;
    
}


div {
    width: 140px; 
    box-sizing: border-box;
    padding: 5px;
    border: 1px dashed #888;
    display: flex;            
    justify-content: center;  
    align-items: center;
    
}

.primera_fila div{
    flex-shrink: 0;
}

div:hover{
    background-color: #555555;

}

img {
    width: 100%;
}