header{
    box-sizing: border-box;
    border: 2px solid black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
   
    
h1{ 
    color:white;
    background-color: #333334;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

nav{
    background-color: #cccccc;
    color:#767676;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;     
    padding: 10px;
    gap: 10px;

}

/*Quería que mis imágenes quedaran totalmente alineadas vertical y horizontalmente dentro del div, he visto en internet que podía hacer un "flexbox anidado" donde el nav con su propiedad flex alinee todos los divs a la izquierda y si al div le proporcionaba también display:flex; podia alinear vertical y horizontalmente a las imágenes */
div{
    box-sizing: border-box;
    padding: 5px;
    width: 130px;
    border: 1px dashed #888;
    display: flex;            
    justify-content: center;  
    align-items: center;
    
}

div:hover{
    background-color: #555555;

}

img{
    width: 100%;
}