div{ 
    display: grid;
    grid-gap: 5px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    
}

.one,.two, .three, .four, .five, .six{
    background-color: #f4d5ab;
    color: #da5218;
    padding: 20px;
    margin: 0px;
    font-size: large;
    text-align: center;
}

.one{
    grid-column: 1/3;
    grid-row: 1/8;
}
.two{
    grid-column: 2/4;
    grid-row: 1/10;
}
.three{
    grid-column: 1/2;
    grid-row: 8/20;  
}