div{
    text-align: center;
    display: grid;
    gap: 5px;
    grid-template-columns: 200px 1fr 2fr;
}

p{
    background-color: #6a7c88;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: large;
}