.one{
    grid-column: 1/3;
    grid-row: 1/2;
    
}
.two{
    grid-column: 2/4;
    grid-row: 1/3;
    
}
.three{
    grid-column: 1/2;
    grid-row: 2/5; 
    
}
.four{
    grid-column: 3/4;
    grid-row: 3/4;

}
.five{
    grid-column: 2/3;
    grid-row: 4/5; 
    
}
.six{
    grid-column: 3/4;
    grid-row: 4/5;
    
}

.padre{ 
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 600px;
    height: 600px;
    padding-left: 30%;
}

.one,.two, .three, .four, .five, .six{
    background-color: #f4d5ab;
    color: #da5218;
    padding: 20px;
    margin: 0px;
    font-size: large;
    text-align: left;
    border: 3px solid #da5218;
    opacity: 0.7;
    border-radius: 15px;
}

