div{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    width: 700px;
    height: 200px;
    margin: 0 auto;
}

p{
    background-color: #6a7c88;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: large;
}