div{ 
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
    height: 200px;
    margin: 0 auto;
}

p{
    background-color: #6a7c88;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: large;
    text-align: center;
}

#celda_1{
    grid-column: 1/ 4
}